{% if post.categories %}
  <div class="categories">
    <span class="categories-label">Published in </span>
    {% for category in post.categories %}
      <span class="categories-category">
        <a href="{{ category.link }}" class="categories-categoryLink">{{ category.name }}</a>
      </span>
    {% endfor %}
  </div>
{% endif %}
