$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$maxWidth = lookup('$global-layout-maxWidth') || 1140px
rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px

[is='flynt-image-hero']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .imageHero
    center($maxWidth, $gutterWidth)

    &-imageElement
      display: block
      height: auto
      max-width: 100%
