rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$maxWidth = lookup('$global-layout-maxWidth') || 1140px

[is='wps-image-hero']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .imageHero
    center($maxWidth, $gutterWidth)

    &-imageContainer
      width: 100%

    &-imageElement
      display: block

  // States
  .imageHero-isFullwidth
    center(1440px, 0)

  .imageHero-hasAdaptiveHeight .imageHero
    &-imageElement
      height: auto
      max-width: 100%

  .imageHero-hasFixedHeight .imageHero
    &-imageContainer
      height: 500px

      +below(2)
        height: 300px

    &-imageElement
      height: 100%
      object-fit: cover
      width: 100%
