$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$maxWidth = lookup('$global-layout-maxWidth') || 1140px
rupture.scale = $global-layout-scale is defined ? $global-layout-scale : 0 400px 800px 1200px

[is='flynt-image-hero-fullwidth']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .imageHero
    center(1920px)

    &-imageContainer
      display: block
      width: 100%

    &-imageElement
      display: block
      height: auto
      max-width: 100%
