<div class="flyntComponent" is="flynt-map-google">
  <div class="map">
    <div class="map-wrapper" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}" data-zoom="{{ zoomLevel }}" data-content="{{ infoContent }}">

    </div>
  </div>
</div>
