$rupture.scale = lookup('$global-layout-scale') || (0 576px 768px 992px 1200px)
$rupture.anti-overlap = lookup('$global-layout-overlap') || -1px
$gutterWidth = lookup('$global-layout-gutterWidth') || 15px
$containerMaxWidth = lookup('$global-layout-containerMaxWidth') || 1140px
$colorBackground = lookup('$global-color-background') || #fff

@import 'Mixins/_playButton.styl'

[is='flynt-media-slider']
  *,
  *:before,
  *:after
    box-sizing: border-box

  .mediaSlider
    center($maxWidth, $gutterWidth)
    position: relative

    @import 'Mixins/_sliderStyling.styl'

    &-slides
      list-style: none
      margin: 0
      padding: 0

    &-slide
      outline: 0
      position: relative

    &-slideTitle
      background-color: $colorBackground
      display: inline-block
      padding: 10px
      text-align: center
      width: 100%

    &-imageContainer
      display: block
      width: 100%

    &-imageElement
      display: block

    &-oembedVideo
      height: 0
      padding-bottom: percentage(9 / 16)

    &-oembedVideo iframe
      display: block
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%

    &-oembedPosterImage
      cursor: pointer
      height: 100%
      left: 0
      overflow: hidden
      position: absolute
      top: 0
      width: 100%
      z-index: 2

      playButton($pseudoElementDefaults, $colorGray, $backgroundOpacity, $borderWidth, $colorWhite, $playButtonCircleDiameter, $colorWhite, $playButtonTriangleSize)

      &-isHidden
        visibility: hidden

    &-oembedPosterImage-isHidden
      display: none

    &-oembedPosterImage .mediaSlider-imageContainer
      height: 100%
      position: relative

    &-oembedPosterImage .mediaSlider-imageElement
      height: auto

    &-oembedVideoContainer
      position: relative
