<div class="flyntComponent" is="flynt-block-cookie-notification">
  <div class="notification">
    <div class="notification-container">
      <div class="notification-top">
        {% include 'Partials/NotificationText/index.twig' %}
      </div>
      <div class="notification-bottom">
        {% include 'Partials/AcceptButton/index.twig' %}
        {% include 'Partials/OptoutLink/index.twig' %}
      </div>
    </div>
  </div>
</div>