<div class="flyntComponent" is="flynt-block-cookie-notification">
  <div class="notification">
    <div class="notification-container">
      <div class="notification-text">
        {{ content }}
      </div>
      {% include 'Partials/AcceptButton/index.twig' %}
    </div>
  </div>
</div>
