<div class="flyntComponent" is="flynt-block-styleguide">
  <div class="styleguide">
    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Colors</h2>
      {% for color in colors %}
        <div class="styleguide-color" style="background: {{ color.hex }}">
          <span class="styleguide-colorName">{{ color.name }}</span>
        </div>
      {% endfor %}
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Fonts</h2>
      {% for font in fonts %}
        <div class="styleguide-font" style="font-family: {{ font.font }}">
          <p class="styleguide-fontName">{{ font.name }}</p>
          <p class="styleguide-fontDemo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint neque sed corrupti molestias suscipit ipsa laboriosam esse ut dolorem culpa, harum dolorum dignissimos iusto repudiandae numquam! Qui ipsa, a ipsum.</p>
          <p class="styleguide-fontDemoCapitalized">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint neque sed corrupti molestias suscipit ipsa laboriosam esse ut dolorem culpa, harum dolorum dignissimos iusto repudiandae numquam! Qui ipsa, a ipsum.</p>
        </div>
      {% endfor %}
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Headlines</h2>
      <h1>The quick brown fox jumps over the lazy dog</h1>
      <h2>The quick brown fox jumps over the lazy dog</h2>
      <h3>The quick brown fox jumps over the lazy dog</h3>
      <h4>The quick brown fox jumps over the lazy dog</h4>
      <h5>The quick brown fox jumps over the lazy dog</h5>
      <h6>The quick brown fox jumps over the lazy dog</h6>
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Paragraphs with Headlines</h2>
      <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>. Corporis itaque quam ipsam, voluptates alias ad expedita in delectus repellendus, quisquam, cum hic ea eos velit, totam incidunt possimus accusantium magni?</p>
      <p>Lorem ipsum dolor sit amet, <strong>strong consectetur adipisicing</strong> elit. Omnis, <bold>bold perspiciatis ex</bold> <em>em quibusdam doloribus</em> <i>i sit dolores ab</i> aliquid placeat, <small>id facere fugit</small>, eaque, modi voluptate nesciunt optio in nemo ipsa illo!</p>
      <p>Lorem ipsum dolor sit amet, consectetur <u>u adipisicing elit</u>. Ab delectus <a href="#" target="_blank">quia eaque</a>, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
      <h1>The quick brown fox jumps over the lazy dog</h1>
      <p>Lorem ipsum dolor sit <s>amet, consectetur adipisicing elit. Possimus et consectetur assumenda placeat unde</s> beatae! Fugiat distinctio dolore neque in laboriosam impedit consectetur, mollitia incidunt, illo similique cumque fugit quo!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus quia eaque, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
      <h2>The quick brown fox jumps over the lazy dog</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore quidem esse modi, sequi reiciendis delectus, voluptatibus quam ea ipsa in dolorum nobis impedit eum suscipit magnam. Asperiores, dolor, iusto.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus quia eaque, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
      <h3>The quick brown fox jumps over the lazy dog</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum iure illo, placeat similique perferendis repellat sequi aut illum cupiditate pariatur! Nesciunt quis voluptatibus culpa nisi, omnis. Cupiditate dignissimos optio quis?</p>
      <ol>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
      </ol>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus quia eaque, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
      <h4>The quick brown fox jumps over the lazy dog</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, deleniti repudiandae beatae dolores velit voluptatibus ipsam pariatur consequuntur cupiditate. Deleniti est voluptate aspernatur, laudantium quae in ad necessitatibus et, veniam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus quia eaque, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
      <h5>The quick brown fox jumps over the lazy dog</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae cum exercitationem saepe. Excepturi et tempore facere, omnis neque incidunt. Porro ea, sit nulla aperiam commodi deleniti. Tempore numquam laudantium minus!</p>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus quia eaque, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
      <h6>The quick brown fox jumps over the lazy dog</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus quia eaque, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus quia eaque, atque culpa facilis fugit fuga quisquam doloribus sit eos libero reprehenderit at, sint, debitis in dolores, repudiandae voluptates.</p>
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Lists</h2>
      <ul>
        <li>Item</li>
        <li>Item</li>
        <li>
          Item
          <ul>
            <li>Item</li>
            <li>Item</li>
            <li>
              Item
              <ul>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Item</li>
      </ul>
      <hr class="styleguide-trim" />
      <ol>
        <li>Item</li>
        <li>Item</li>
        <li>
          Item
          <ol>
            <li>Item</li>
            <li>Item</li>
            <li>
              Item
              <ol>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>Item</li>
      </ol>
      <hr class="styleguide-trim" />
      <dl>
        <dt>Definition Type</dt>
        <dd>Definition Data</dd>

        <dt>Definition Type</dt>
        <dd>Definition Data</dd>

        <dt>Definition Type</dt>
        <dd>Definition Data</dd>
      </dl>
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Table</h2>
      <table>
        <thead>
          <tr>
            <th>Table Head</th>
            <th>Table Head</th>
            <th>Table Head</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table Information</td>
            <td>Table Information</td>
            <td>Table Information</td>
          </tr>
          <tr>
            <td>Table Information</td>
            <td>Table Information</td>
            <td>Table Information</td>
          </tr>
          <tr>
            <td>Table Information</td>
            <td>Table Information</td>
            <td>Table Information</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Buttons</h2>
      <a href="#" class="btn">Button Default</a>
      <a href="#" class="btn btn--primary">Button Primary</a>
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Form Inputs</h2>
      <form action="#">
        <fieldset>
          <legend>Fieldset Label - Input Text</legend>
          <label for="Text">
            Text Input
            <input type="text" id="Text" placeholder="Text" />
          </label>
          <label for="Text">
            Text Input
            <input type="text" id="Text" placeholder="Text" />
          </label>
          <label for="Text">
            Text Input
            <input type="text" id="Text" placeholder="Text" />
          </label>
        </fieldset>
        <fieldset>
          <legend>Fieldset Label - Input Password</legend>
          <label for="Password">
            Text Input
            <input type="password" id="Password" placeholder="Password" />
          </label>
          <label for="Password">
            Text Input
            <input type="password" id="Password" placeholder="Password" />
          </label>
          <label for="Password">
            Text Input
            <input type="password" id="Password" placeholder="Password" />
          </label>
        </fieldset>
        <fieldset>
          <legend>Fieldset Label - Input Email</legend>
          <label for="Email">
            Text Input
            <input type="email" id="Email" placeholder="Email" />
          </label>
          <label for="Email">
            Text Input
            <input type="email" id="Email" placeholder="Email" />
          </label>
          <label for="Email">
            Text Input
            <input type="email" id="Email" placeholder="Email" />
          </label>
        </fieldset>
        <fieldset>
          <legend>Fieldset Label - Input Number</legend>
          <label for="Number">
            Text Input
            <input type="number" id="Number" placeholder="Number" />
          </label>
          <label for="Number">
            Text Input
            <input type="number" id="Number" placeholder="Number" />
          </label>
          <label for="Number">
            Text Input
            <input type="number" id="Number" placeholder="Number" />
          </label>
        </fieldset>
        <fieldset>
          <legend>Fieldset Label - Textarea</legend>
          <label for="Textarea">
            Textarea
            <textarea id="Textarea" placeholder="Textarea">Textarea Content</textarea>
          </label>
          <label for="Textarea">
            Textarea
            <textarea id="Textarea" placeholder="Textarea">Textarea Content</textarea>
          </label>
          <label for="Textarea">
            Textarea
            <textarea id="Textarea" placeholder="Textarea">Textarea Content</textarea>
          </label>
        </fieldset>
        <fieldset>
          <legend>Fieldset Label - Input Select</legend>
          <label for="Select">
            Select Input
            <select name="Select" id="Select">
              <option value="Option">Option</option>
              <option value="Option">Option</option>
              <option value="Option">Option</option>
            </select>
          </label>
          <label for="Select">
            Select Input with Optgroup
            <select name="Select" id="Select">
              <optgroup label="Europe">
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="United Kingdom">United Kingdom</option>
              </optgroup>
              <optgroup label="Asia">
                <option value="China">China</option>
                <option value="Japan">Japan</option>
                <option value="Thailand">Thailand</option>
              </optgroup>
              <optgroup label="America">
                <option value="USA">USA</option>
                <option value="Mexico">Mexico</option>
                <option value="Canada">Canada</option>
              </optgroup>
            </select>
          </label>
          <label for="Select">
            Select Input
            <select name="Select" id="Select">
              <option value="Option">Option</option>
              <option value="Option">Option</option>
              <option value="Option">Option</option>
            </select>
          </label>
        </fieldset>
        <fieldset>
          <legend>Fieldset Label - Input Radio</legend>
          <label for="Radio">
            Select Input
            <input type="radio" id="Radio" name="Radio" />
          </label>
          <label for="Radio">
            Select Input
            <input type="radio" id="Radio" name="Radio" />
          </label>
          <label for="Radio">
            Select Input
            <input type="radio" id="Radio" name="Radio" />
          </label>
        </fieldset>
        <fieldset>
          <legend>Fieldset Label - Input Checkbox</legend>
          <label for="Checkbox">
            Checkbox Input
            <input type="checkbox" id="Checkbox" name="Checkbox" />
          </label>
          <label for="Checkbox">
            Checkbox Input
            <input type="checkbox" id="Checkbox" name="Checkbox" />
          </label>
          <label for="Checkbox">
            Checkbox Input
            <input type="checkbox" id="Checkbox" name="Checkbox" />
          </label>
        </fieldset>
        <p><input type="submit" value="Submit Input Field"></p>
        <p><input class="btn" type="submit" value="Submit Input Field"></p>
        <p><input class="btn btn--primary" type="submit" value="Submit Input Field"></p>
        <p><button>Button Tag</button></p>
        <p><button class="btn btn">Button Tag</button></p>
        <p><button class="btn btn--primary">Button Tag</button></p>
      </form>
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Other Typo Blocks</h2>
      <blockquote>
        <p>The quick brown fox jumps over the lazy dog</p>
        <footer>
          - Written by <cite>someone</cite>
        </footer>
      </blockquote>
      <blockquote>
        <h2>Quote Headline</h2>
        <p>The quick brown fox jumps over the lazy dog</p>
        <footer>
          - Written by <cite>someone</cite>
        </footer>
      </blockquote>
      <blockquote>
        <h3>Quote Headline</h3>
        <p>The quick brown fox jumps over the lazy dog</p>
        <footer>
          - Written by <cite>someone</cite>
        </footer>
      </blockquote>
      <blockquote>
        <h4>Quote Headline</h4>
        <p>The quick brown fox jumps over the lazy dog</p>
        <footer>
          - Written by <cite>someone</cite>
        </footer>
      </blockquote>

      <p>The quick <q>brown fox jumps</q> over the lazy dog</p>
    </section>

    <section class="styleguide-section">
      <h2 class="styleguide-sectionTitle">Other Tags</h2>
      <abbr title="Here could be more informations about this short text which describes this content way better.">This is a abbreviation for a longer description</abbr>
      <abbr title="Here could be more informations about this short text which describes this content way better.">This is a abbreviation for a longer description</abbr>
      <abbr title="Here could be more informations about this short text which describes this content way better.">This is a abbreviation for a longer description</abbr>
      <hr class="styleguide-trim" />
      <kbd>cmd+K</kbd>
      <kbd>cmd+alt+I</kbd>
      <hr class="styleguide-trim" />
      <code>This is a codeblock</code>
      <pre>This is a pre block</pre>
      <hr class="styleguide-trim" />
      <iframe src="#" width="500" height="500"></iframe>
      <hr class="styleguide-trim" />
      <img src="http://placehold.it/500" alt="Image" />
      <img src="http://placehold.it/200" alt="Image" />
      <hr class="styleguide-trim" />
      <progress value="70" max="100">70 %</progress>
      <progress value="40" max="100">40 %</progress>
      <progress value="10" max="100">10 %</progress>
      <hr class="styleguide-trim" />
      <p>Text with a <q cite="Author Name">Short inline quote</q></p>
      <hr class="styleguide-trim" />
      <time>14:40</time>
      <time>17:15</time>
    </section>
  </div>
</div>
